.product-detail-name {
  display: flex;
  justify-content: center;
  margin: 2%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 35px;
}

.product-detail-image {
  display: flex;
  justify-content: center;
}

.div-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart2 {
  height: 35px;
  width: 60px;
  background-color: blue;
}
